<!-- <section class="signup-form">
    <div class="container">
        <form>
            Name<br>
            <input [disabled]="true" type="text" value="{{linkedindata.name}}"  >
            <br>
            Email<br>
            <input [disabled]="true" type="text"  value="{{linkedindata.email}}" >
            <br><br>
            <button (click)="onclick()">Submit</button>
        </form> 
    </div>    
</section>     -->
<section id="wrapper">
    <div id="contact_form_div">
            <p id="logo">Q</p>
            <p>Please confirm or edit your contact information so that we can notify
                you when you are approved.
            </p>
            <hr>
            <form method="post" action="">
                <div>
                    <label>Name</label><br>
                    <input [disabled]="true" type="text" value="{{linkedindata.name}}"  >
                </div>
                <div>
                    <label>Email</label><br>
                    <input [disabled]="true" type="text"  value="{{linkedindata.email}}">
                </div>
                <div>
                    <label>Password</label>
                    <input type="password" >
                </div>
                <br>
                <br>
                <hr>
                <button (click)="onclick()" type="submit">SIGN UP</button>
            </form>
        </div>
    </section>